# Assignment

In [4]:
print("Nitin",end ="\npanchal")

Nitin
panchal

In [5]:
r = int(input("Enter the radius :   "))
p = 3.14
su = r*r*p
print("Sum is",su)

Enter the radius :   5
Sum is 78.5

In [6]:
r = 6
a = 4/3
p = 3.14
su = a*p*r*r*r
print("Sum is:  ",su)

Sum is:   904.3199999999998

In [7]:
base = int(input("Enter the base of "))
height = int(input("Enter the base of "))
area = 1/2
su = area*base*height
print("The sum is : ",su)

Enter the base of 4
Enter the base of 5
The sum is :  10.0

In [10]:
#Write a Python program to calculate the sum of three equal numbers, and the result is the three times of their sum.
no1 = int(input("Enter the no1  "))
no2 = int(input("Enter the no2 "))
no3 = int(input("Enter the no2 "))
if no1==no2==no3:
    su = no1+no2+no3
    su = su*3
    print("The sum is :",su)
else:
    print("Please enter same number ")

Enter the no1  4
Enter the no2 4
Enter the no2 4
The sum is : 36

In [11]:
#Write a Python program to solve (x + y) * (x + y) 
x = 4
y = 3
result = (x + y) * (x + y)
print("The result is : ",result)

The result is :  49

In [12]:
#Write a Python program to compute the simple interest of a specified principal amount, rate of interest, and a number of years.Test Data : amt = 10000, int = 3.5, years = 7
amount = 10000
i = 3.5
t = 7
result =amount*(1+i*t)
print("The simple interest is : ",result)

The simple interest is :  255000.0

In [13]:
#Write a Python program to convert (parse) a string to Float or Integer.
#Test Data : "246.2458"
a = "246.2458"
float(a)

246.2458

In [14]:
a = 246.2458
int(a)

246

In [15]:
#Write a Python program to calculate the hypotenuse of a right angled triangle.
#Formulae : c2 = a2 + b2,
import math
a = int(input("Enter the no1  "))
b = int(input("Enter the no2 "))
c = (a**2)+(b**2)
print("The hypotenuse is : ",math.sqrt(c))

Enter the no1  5
Enter the no2 5
The hypotenuse is :  7.0710678118654755

In [18]:
#Write a Python program to swap two variables
#Test Data : a = 77, x= 1
#Expected Output : a= 1, x=77
a = 77
x = 1
z = a
a = x
x = z
print("The value of a is : ", a)
print("The value of x is : ",x)

The value of a is :  1
The value of x is :  77

In [19]:
#Write a Python program to calculate the cube of any number which was taken by input.
a = int(input("Enter the no : "))
cal = a**3
print("The Cube is : ",cal)

Enter the no : 5
The Cube is :  125